<body>
<div class="supercontainer">
	<div class="container_12">
		<div class="grid_12">
			<h1 class="logo">BuddyMeme</h1>
		</div>
	</div>
</div>
<div class="container_12">
	<div class="grid_12">
	  <div class="crumbs">
		  <a class="crumb current">Select A Friend</a>
    </div>
	</div>
  <% count = 0 %>
  <% array = [] %>
  <% @top_friends["query2"].each do |top| %>
  		<% array.push(top) %>
  <% end %>
  <% random_array = array.sort_by{rand} %>

	<div class="grid_12" style="margin-bottom:10px;">
		<h4>Suggested Friends</h4>
	</div>

  <% random_array.each do |person| %>
  	<% if count < 6 %>
  	  
  		<a class="grid_2 friend" href="photos?id=<%= person["uid"] %>" >
  		  <img src="<%= person["pic_square"] %>" />
  		  <span class="bottom"><%= person["name"] %></span>
  		  <% count+=1 %>
  		</a>
  	<% end %>
  <% end %>

	<div class="grid_12" style="margin-bottom:15px;">
		<h4 style="margin-bottom:10px;">All Friends</h4>
		<input type="text" class="search" placeholder="Search" /><div class="searchicon"></div>
		<div class="clear"></div>
	</div>
  Test
	<div class="friends all-friends">
  	<% @top_friends["query4"].each do |f| %>
		<a class="grid_2 friend" href="photos?id=<%= f["uid"] %>">
		  <span data-fbname="<%= f["name"] %>"></span>
			<img src="<%= f['pic_square'] %>" />
			<span class="bottom"><%= f["name"] %></span>
		</a>
 	<% end %>
  </div>
</div>