<script type="text/javascript">
$(document).ready(function(){
//todo: dynamic text sizing and multiple rows
//possible todo: scumbag hats

//initializes a new javascript image, and sets the source to a value passed from php
  var img = new Image();
  img.src = 'proxy?url=<%= @photo[0]["src_big"] %>';
  //sets the can and context variables of the canvas
  var can = document.getElementById('canvas');
  var ctx = can.getContext('2d');  

//when the image loads, i basically draw the image object onto the canvas element, with no text on it
  img.onload = function(){    	
  	ctx.drawImage(img,0,0);
  };

function changeFontSize(newFontSize,multiplier){
	if(fontSize == origFontSize){
		ctx.font = newFontSize+"pt Impact";
		return newFontSize;
	} else {
		return origFontSize * multiplier;
	}
}

//drawText adds text to the image. Unfortunately, the only way to do this is to erase the canvas completely and then redraw the entire thing with new text.
  function drawText(top, bottom){

	fitWidth = <%= @photo[0]['src_big_width'] %>;
	//draw an image with no text onto the canvas
  	ctx.drawImage(img,0,0);

	//set the font styles
  	ctx.fillStyle = "white";
  	ctx.strokeStyle = "black";
  	ctx.lineWidth = 2;
  	//we will need to dynamically alter the font size based on the character count
  	fontSize = origFontSize = 48;
  	multiplier = .75;
  	ctx.font = fontSize+"pt Impact";
 		ctx.textAlign = "center";
 		lineHeight = 1.33;
 				
 		var x = can.width/2;
 		var y = fontSize*lineHeight;
 		//width of the text to be drawn
 		width = ctx.measureText(top).width;

	var words = top.split(' ');
	var currentLine = 0;
	var idx = 1;
	while (words.length > 0 && idx <= words.length) {
      	var str = words.slice(0,idx).join(' ');
      	var w = ctx.measureText(str).width;
      	if ( w > fitWidth ) {
          	if (idx==1) {
              	idx=2;
          	}
          	fontSize = changeFontSize(fontSize*multiplier, multiplier);
          	y = fontSize*1.33;
          	ctx.fillText( words.slice(0,idx-1).join(' '), x, y + (fontSize*lineHeight*currentLine), <%= @photo[0]['src_big_width'] %> );
          	ctx.strokeWidth = fontSize/16 + "px";
          	ctx.strokeText( words.slice(0,idx-1).join(' '), x, y + (fontSize*lineHeight*currentLine), <%= @photo[0]['src_big_width'] %> );
          	currentLine++;
          	words = words.splice(idx-1);
          	idx = 1;
      	} else {
      		idx++;
      	}
  	}
  			
	if  (idx > 0) {
      	ctx.fillText( words.join(' '), x, y + (fontSize*lineHeight*currentLine), <%= @photo[0]['src_big_width'] %>);
          ctx.strokeWidth = fontSize/16 + "px";
      	ctx.strokeText( words.join(' '), x, y + (fontSize*lineHeight*currentLine), <%= @photo[0]['src_big_width'] %>);
	}

	//REPEAT THE ABOVE, BUT FOR THE BOTTOM
 		var y = <%= @photo[0]['src_big_height'] %> - fontSize*lineHeight+fontSize;
	while(ctx.measureText(bottom).width>fitWidth){
		fontSize = .9*fontSize;
		ctx.font = fontSize + "pt Impact";
	}

     	ctx.fillText( bottom, x, y, <%= @photo[0]['src_big_width'] %>);
     	ctx.strokeWidth = fontSize/16 + "px";
     	ctx.strokeText( bottom, x, y, <%= @photo[0]['src_big_width'] %>);

  }

//after every keystroke into the form
  $('.memetext').keyup(function() {
	//get the form values
	var toptext = $('.toptext').val();
	var bottomtext = $('.bottomtext').val();

	//pass the values into the draw function
	drawText(toptext, bottomtext);
});

//once clicking submit
$('#post').click(function(){
	//save canvas element to a data uri
	dataURI = can.toDataURL();
	//pass the data uri to a server to generate an image
	//saveImage(dataURI);
  var body = 'Reading JS SDK documentation';
  var formData = new FormData();

  for (var i = 0, dataURI; dataURI = dataURI[i]; ++i) {
    formData.append(dataURI.name, dataURI);
  }
  FB.api('/me/photos', 'post', { message:body,source:formData }, function(response) {
    if (!response || response.error) {
      alert('Error occured: ' + JSON.stringify(response.error));
    } else {
      alert('Post ID: ' + response.id);
    }
  });

/*  data = {data:dataURI};
  $.ajax({
    type: 'POST',
    url: 'writer',
    data: data,
    success: function(){ alert('woohoo')},
  });
*/
});

});
</script>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '204060336365834', // App ID
        channelUrl : '//www.buddymeme.com/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true,  // parse XFBML
        setFileUploadSupport: true
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>
<div class="supercontainer">
	<div class="container_12">
		<div class="grid_12">
			<h1 class="logo">BuddyMeme</h1>
		</div>
	</div>
</div>
<div class="container_12">
	<div class="grid_12">
		<div class="crumbs">
		  <a class="crumb" href="friends">Select A Friend</a> &raquo;
		  <a class="crumb" href="photos?id=<%= @identifier %>">Choose a Picture</a> &raquo;
		  <a class="crumb current">Make Your Meme</a>
		</div>
	</div>
	
	<div class="grid_12">
	  <input class="toptext memetext" placeholder="Top Text" />
	  <input class="bottomtext memetext" placeholder="Bottom Text" />
	  <button id="post">Post to Facebook</button>
	  <canvas id="canvas" width="<%= @photo[0]['src_big_width'] %>" height="<%= @photo[0]['src_big_height'] %>" style="width:<%= @photo[0]['src_big_width'] %>; height:<%= @photo[0]['src_big_height'] %>; margin:0 auto;"></canvas>
    
	</div>