<%= link_to 'Tagged Photos', tagged_path %>
<a class="grid_2 friend" href="tagged?id=<%= @identifier %>" > Tagged Photos</a>
<% @pics.each do |pic_object| %>
	<% if pic_object["src"]!=""%>
		<a href="make?url=<%= pic_object["src_big"] %>"%>
		  <img src="<%= pic_object["src"] %>" width="<%= pic_object["src_width"] %>" height="<%= pic_object["src_height"] %>" />
		</a>
	<%end%>
<%end %>
</div>
