<body>
<div class="supercontainer">
	<div class="container_12">
		<div class="grid_12">
			<h1 class="logo">BuddyMeme</h1>
		</div>
	</div>
</div>
<div class="container_12">
	<div class="grid_12">
		<div class="crumbs">
		  <a class="crumb" href="friends">Select A Friend</a> &raquo;
		  <a class="crumb current">Choose a Picture</a>
		</div>
	</div>
  <div class="grid_12 tabs">
    <a class="current"> Profile Pictures</a> - 
    <a href="tagged?id=<%= @identifier %>" > Tagged Pictures</a>
  </div>
<% @pics.each do |pic_object| %>
	<% if (pic_object["src"]!="" && pic_object["src_big_width"] >= 300 && pic_object["src_big_height"] >= 300) %>
	  <a class="grid_2 thumb-container" href="make?pid=<%= pic_object["pid"] %>&uid=<%= @identifier %>">
	    <img src="<%= pic_object["src"] %>" width="<%= pic_object["src_width"] %>" height="<%= pic_object["src_height"] %>" data-bigWidth="<%= pic_object["src_big_width"] %>" data-bigHeight="<%= pic_object["src_big_height"] %>" />
	  </a>
	<%end%>
<%end %>
</div>
</div>
